.Home {
  background: black;
  position: relative;
  overflow: auto;

  &__img {
    width: 100%;
    height: calc(100vh - 100px);
    object-fit: cover;
    opacity: 0.3;
  }

  &__feature {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
}
