.nav {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(53, 52, 52) 70%, rgb(119, 118, 118));

  &__body {
    width: 80%;
  }
  &__img {
    width: 250px;
    height: 100px;
  }
}
