.character-container {
  margin: 0 auto;
  width: 80vw;
  padding: 20px;
  color: cornsilk;

  @media screen and (max-width: 970px) {
    width: 90vw;
    padding: 10px;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    padding: 5px;
  }
}

.character-body {
  display: flex;
  justify-content: center;

  .character-img-container {
    background: linear-gradient(blue, red);
    width: max-content;
    margin: 0 auto;

    .character-img {
      width: 500px;
      height: 600px;
      opacity: 0.5;

      @media screen and (max-width: 800px) {
        width: 400px;
        height: 550px;
      }
      @media screen and (max-width: 630px) {
        width: 380px;
        height: 550px;
      }
      @media screen and (max-width: 420px) {
        width: 320px;
        height: 400px;
      }
      @media screen and (max-width: 350px) {
        width: 250px;
        height: 350px;
      }
    }
  }

  .character-content {
    width: 40%;
    margin: 0 auto;
    padding: 0 10px;

    h3 {
      font-size: 2rem;
    }

    .character-details {
      letter-spacing: 2px;

      h4 {
        font-size: 1.35rem;
        font-weight: 700;
      }
      span {
        color: rgb(37, 37, 37);
        font-family: "Times New Roman", Times, serif;
      }

      .character-movies {
        color: rgb(37, 37, 37);
        font-family: "Times New Roman", Times, serif;
        display: block;
        text-decoration: none;
        margin-bottom: 8px;
        font-size: 1.25rem;
      }
    }
    @media screen and (max-width: 630px) {
      width: 80%;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 630px) {
    display: block;
  }
}
