.movie {
  display: flex;
  justify-content: center;
  z-index: 100;

  &__container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
    width: 80%;
  }

  &__card {
    border: 3px solid #000;
    width: 90%;
    border-radius: 8px;
    color: #ffe6e6;
    padding: 5px;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    transition: all 1s linear;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
      color: rgb(27, 27, 27);
    }

    & > h4 {
      & > span {
        color: #c2bdbd;
      }
    }
  }
}
