body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(166, 166, 167);
}

iframe {
  pointer-events: none;
}

.loading {
  font-size: 6rem;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  color: rgb(96, 104, 111);
  position: absolute;
  left: 30%;
  display: grid;
  height: calc(100vh - 100px);
  place-items: center;
  width: 100vw;
}
